.flash-cards-container {
  flex-wrap: wrap;
  justify-content: space-around;

  .search-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    input[type="text"],
    select {
      padding: 8px;
      margin-right: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
    }

    button {
      background-color: #4caf50;
      color: white;
      border: none;
      padding: 8px 16px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;

      &:hover {
        background-color: #45a049;
      }
    }

    span {
      font-weight: bold;
      margin-right: 10px;
    }
  }

  .cards {
    margin: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .flash-card-wrapper {
      flex-basis: calc(25% - 20px);
      margin-bottom: 20px;
      position: relative;
      width: 200px;

      .hidden-buttons {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        padding: 5px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        width: 100%;
        opacity: 0;
        transition: opacity 0.3s ease;

        button {
          cursor: pointer;
          background-color: #4caf50;
          color: white;
          border: none;
          padding: 5px 10px;
          border-radius: 5px;

          &:hover {
            background-color: #45a049;
          }
        }
      }

      &:hover {
        .hidden-buttons {
          opacity: 1;
        }
      }
    }
  }

}

